<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Mi Proyecto{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>Gestión - Persistencia</h1>
    <nav>
      <a href="{{ url_for('index') }}">Inicio</a> |
      <a href="{{ url_for('leer_txt') }}">TXT</a> |
      <a href="{{ url_for('leer_json') }}">JSON</a> |
      <a href="{{ url_for('leer_csv') }}">CSV</a> |
      <a href="{{ url_for('usuarios') }}">Usuarios (SQLite)</a>
    </nav>
    <hr>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>