{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="jumbotron text-white bg-secondary p-4 rounded">
    <h1 class="display-4">¡Bienvenido a Venta por Catálogo!</h1>
    <p class="lead">Descubre nuestros productos de alta calidad y haz tu pedido desde la comodidad de tu hogar.</p>
    <hr class="my-4">
    <p>Explora nuestro catálogo y encuentra lo que necesitas.</p>
    <a class="btn btn-light btn-lg" href="{{ url_for('listar_productos') }}" role="button">Ver Catálogo</a>
</div>
{% endblock %}
